html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  @extend %roboto-400;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-large{
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  font-size: 40px;
  line-height: 47px;
  @extend %roboto-700;
  color: #262626;
}