html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  @extend %roboto-400;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-large{
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  font-size: 40px;
  line-height: 47px;
  @extend %roboto-700;
  color: #262626;
}

.slick-btn{
  .slider-btn{
    position: absolute;
    right: 0;
    top: -98px;
    width: 48px;
    height: 48px;
    box-shadow: 0px 0px 30px rgba(133, 147, 159, 0.3);
    border-radius: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .slider-btn__prev{
    right: 60px;
  }
  .slider-btn:hover{
    background-color: #CA0100;
    path{
      fill: #fff;
    }
  }
}