@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import '_vars';
@import 'fonts';
@import '_reset';
@import '_libs';
@import '_global';
@import '_media';

.header{
  &__top{
    padding: 12px 0;
    background-color: #EFF0F0;
  }
  &__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__location,
  &__time,
  &__whatsapp{
    display: flex;
    align-items: center;
  }
  &__time{
    margin-right: 300px;
  }
  &__location-img,
  &__time-img,
  &__whatsapp-img{
    margin-right: 7px;
  }
  &__location-link,
  &__time-text,
  &__whatsapp-link{
    font-size: 14px;
    line-height: 16px;
    color: #737373;
  }
  &__whatsapp-link{
    text-decoration: underline;
  }

  &__content{
    padding: 22px 0 32px;
  }
  &__about{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__burger-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 20px;
  }
  &__logo{
    margin-right: 40px;
  }
  &__info{
    max-width: 175px;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    margin-right: 30px;
  }
  &__info::before{
    content: "";
    position: absolute;
    left: -23px;
    top: 0px;
    width: 1px;
    height: 35px;
    background-color: #C2C2C4;
  }
  &__info span{
    width: 60px;
    height: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 22px;
    background-color: #CA0100;
    color: #fff;
  }
  &__list{
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  &__list-item{
    @extend %roboto-700;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    cursor: pointer;
  }
  &__list-item:hover{
    color: #CA0100;
  }
  &__list-item + .header__list-item{
    margin-left: 15px;
  }
  &__phone{
    display: flex;
    margin-right: 20px;
  }
  &__phone-img{
    margin-right: 20px;
  }
  &__main-number{
    display: block;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-transform: uppercase;
    color: #262626;
  }
  &__second-number{
    display: block;
    @extend %roboto-700;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-transform: uppercase;
    color: #262626;
  }
  &__feedback-link{
    padding: 16px 28px;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    background-color: #CA0100;
    border-radius: 6px;
    text-transform: uppercase;
    border: none;
  }

  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav-items{
    display: flex;
  }
  &__nav-btn{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #262626;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__nav-btn svg{
    margin-left: 12px;
  }
  &__nav-item button{
    padding: 0;
  }
  &__nav-item + .header__nav-item{
    margin-left: 90px;
  }

  &__user-nav{
    display: flex;
    align-items: center;
  }
  &__user-link{
    position: relative;
  }
  &__user-num{
    position: absolute;
    top: -10px;
    right: -40px;
    width: 26px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #CA0100;
    border-radius: 18px;
    color: #fff;
  }
  &__user-item + .header__user-item{
    margin-left: 40px;
  }
  &__user-btn{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.footer{
  &__inner{
    background-color: #262626;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 1px solid #737373;
  }
  &__top{
    padding: 40px 0;
    position: relative;
  }
  &__top-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__top-link{
    @extend %roboto-700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
  }
  &__content{
    background-color: #262626;
  }
  &__content-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0 70px;
  }
  &__catalog{
    max-width: 710px;
  }
  &__details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  &__details-box{
    display: flex;
    align-items: center;
  }
  &__title{
    @extend %roboto-900;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
  }
  &__title::after{
    content: "";
    position: absolute;
    width: 34px;
    height: 2px;
    background-color: #CA0100;
    bottom: -8px;
    left: 0;
  }
  &__catalog-title{
    margin-right: 22px;
  }
  &__credit-title{
    margin-bottom: 35px;
  }
  &__contact-title{
    margin-bottom: 45px;
  }
  &__details-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 5px;
  }
  &__detail,
  &__map{
    font-size: 16px;
    line-height: 19px;
    color: #737373;
    text-decoration: underline;
  }
  &__detail{
    @extend %roboto-700;
  }
  &__details-link,
  &__credit-link{
    font-size: 16px;
    line-height: 200%;
    color: #737373;
    text-decoration: underline;
  }
  &__details-link{
    margin-right: 10px;
  }
  &__credit-item + .footer__credit-item{
    margin-top: 5px;
  }
  &__phone,
  &__worktime,
  &__address{
    display: flex;
  }
  &__worktime{
    align-items: center;
  }
  &__phone-img,
  &__worktime-img,
  &__address-img{
    margin-right: 12px;
  }
  &__numbers-link,
  &__worktime-text,
  &__address-text{
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #737373;
  }
  &__address-link{
    font-size: 16px;
    line-height: 19px;
    color: #CA0100;
    text-decoration: underline;
  }
  &__numbers{
    margin-bottom: 20px;
  }
  &__numbers-link{
    margin-bottom: 5px;
  }
  &__worktime,
  &__address{
    margin-bottom: 20px;
  }
  .jq-selectbox__select {
    width: 326px;
    height: 40px;
    padding: 11px 0px 29px 15px;
    border: none;
    border-radius: 9px;
    background: #595D60;
    box-shadow: none;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-shadow: none;
  }
  .jq-selectbox__trigger {
    border-left: none;
  }
  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 12px;
    height: 12px;
    border: none;
    background-image: url('../img/footer/icon/angle-down-white.svg');
  }
  &__copy{
    background-color: #1B1B1B;
  }
  &__copy-inner{
    padding: 33px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__copy-box{
    margin-right: 20px;
  }
  &__copy-text{
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 22px;
  }
  &__text{
    max-width: 615px;
  }
  &__copy-link,
  &__text{
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    opacity: 0.5;
  }
  &__copy-link{
    text-decoration: underline;
  }
  &__copy-link + .footer__copy-link{
    margin-left: 35px;
  }
}

.slider{
  margin-bottom: 38px;
  &__background{
    background-image: url('../img/slider/slider-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 25px;
  }
  &__inner{
    padding: 80px 0;
  }
  &__item{
    display: flex;
    position: relative;
  }
  &__item + .slider__item{
    margin-left: 200px;
  }
  &__info{
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    @extend %roboto-700;
    color: #fff;
    padding: 5px 10px;
    background-color: #CA0100;
    border-radius: 33px;
    margin-bottom: 35px;
  }
  &__title{
    max-width: 820px;
    font-size: 60px;
    line-height: 70px;
    @extend %roboto-700;
    color: #262626;
    margin-bottom: 24px;
  }
  &__link{
    display: inline-block;
    font-size: 29px;
    line-height: 34px;
    color: #737373;
    margin-bottom: 157px;
  }
  &__image{
    position: absolute;
    top: 90px;
    right: 100px;
  }
  .slick-list{
    padding-bottom: 30px;
  }
  .slider-btn{
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
  }
  .slider-btn__prev{
    left: 50px;
    top: 50%;
  }
  .slider-btn__next{
    right: 50px;
    top: 50%;
  }
  .slick-dots{
    position: absolute;
    display: flex;
    left: 235px;
    bottom: 10px;
    li{
      line-height: 0;
      button{
        padding: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: transparent;
        border: 5px solid transparent;
        opacity: 0.5;
        font-size: 0;
        cursor: pointer;
        position: relative;
        &::before{
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #737373;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &.slick-active{
        button{
          border: 5px solid #CA0100;
          &::before{
            background-color: #fff;
          }
        }
      }
    }
  }
  .slick-dots li + li{
    margin-left: 15px;
  }
}

.cars{
  margin-bottom: 64px;
  &__inner{
    padding: 22px 30px;
    background-color: #EFF0F0;
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
  }
  &__list{
    display: flex;
  }
  &__items{
    width: 138px;
  }
  &__items + .cars__items{
    margin-left: 30px;
  }
  &__item{
    display: flex;
    align-items: center;
  }
  &__logo{
    margin-right: 10px;
  }
  &__name{
    font-size: 14px;
    line-height: 41px;
    color: #262626;
  }
  &__title{
    font-size: 24px;
    line-height: 28px;
    @extend %roboto-900;
    color: #262626;
    margin-bottom: 22px;
  }

  &__filter-selects{
    margin-bottom: 25px;
  }
  &__filter-price{
    max-width: 490px;
  }
  .irs--flat.irs-with-grid {
    height: 60px;
    margin-bottom: 20px;
  }
  .jq-selectbox__select {
    width: 237px;
    padding: 22px 0px 36px 15px;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    background: #fff;
    box-shadow: none;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    text-shadow: none;
  }
  .jq-selectbox__trigger {
    border-left: none;
  }
  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 24px;
    right: 15px;
    width: 12px;
    height: 12px;
    border: none;
    background-image: url('../img/cars/angle-down.svg');
  }
  &__filter-body{
    margin-right: 15px;
  }
  &__filter-btn{
    padding: 17px 192px;
    border: none;
    color: #fff;
    background-color: #CA0100;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    @extend %roboto-700;
    text-transform: uppercase;
  }
}

.products{
  &__inner{
    margin-bottom: 70px;
  }
  &__title{
    text-align: center;
    margin-bottom: 64px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
  }
  &__item{
    background-image: url('../img/products/products-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 40px;
    box-shadow: 0px 0px 30px rgba(133, 147, 159, 0.3);
    border-radius: 25px;
    padding: 25px 25px 61px;
  }
  &__title-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__item-title{
    font-size: 27px;
    line-height: 32px;
    @extend %roboto-700;
    color: #262626;
    text-transform: capitalize;
  }
  &__image-box{
    display: flex;
  }
  &__heart-btn,
  &__graph-btn{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
  &__heart-btn{
    width: 18px;
    height: 16px;
    margin-right: 12px;
  }
  &__graph-btn{
    width: 14px;
    height: 16px;
  }
  &__text-box{
    display: flex;
    align-items: center;
    margin-bottom: 11px;
  }
  &__text-offer{
    font-size: 13px;
    line-height: 15px;
    @extend %roboto-500;
    color: #fff;
    background-color: #CA0100;
    padding: 6px 32px 6px 15px;
    border-radius: 4px 45px 45px 4px / 4px 100% 100% 4px;
    margin-right: 15px;
  }
  &__text-profit{
    font-size: 12px;
    line-height: 14px;
    @extend %roboto-500;
    color: #CA0100;
  }
  &__main-box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__list-item{
    display: flex;
    align-items: flex-start;
  }
  &__list-item + .products__list-item{
    margin-top: 10px;
  }
  &__image-bg{
    min-width: 32px;
    height: 32px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 9px;
  }
  &__list-text{
    font-size: 13px;
    line-height: 15px;
    color: #262626;
  }
  &__list-text span{
    color: #CA0100;
  }
  &__price-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  &__price-text{
    font-size: 22px;
    line-height: 26px;
    @extend %roboto-700;
    color: #262626;
  }
  &__price-credit{
    font-size: 16px;
    line-height: 14px;
    color: #262626;
  }
  &__price-credit span{
    @extend %roboto-700;
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__info-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 31px;
    border: 1px solid #C2C2C4;
    border-radius: 20px;
  }
  &__info-image{
    margin-right: 5px;
  }
  &__info-text{
    font-size: 12px;
    line-height: 14px;
    color: #262626;
  }
  &__link-box{
    position: relative;
  }
  &__link-reserve,
  &__link-buy,
  &__link-details{
    font-size: 14px;
    line-height: 16px;
    @extend %roboto-700;
    color: #fff;
    border-radius: 6px 45px 45px 6px / 6px 100% 100% 6px;
  }
  &__link-reserve{
    padding: 10px 18px;
    background-color: #CA0100;
    position: absolute;
    z-index: 3;
  }
  &__link-buy{
    padding: 10px 50px 10px 60px;
    background-color: #262626;
    position: absolute;
    left: 105px;
    z-index: 2;
  }
  &__link-details{
    padding: 10px 35px 10px 55px;
    background-color: #737373;
    position: absolute;
    left: 230px;
  }
  &__link{
    display: block;
    max-width: 312px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 16px;
    line-height: 19px;
    @extend %roboto-700;
    color: #fff;
    text-transform: uppercase;
    background-color: #CA0100;
    text-align: center;
    border-radius: 6px;
  }
}

.groups{
  margin-bottom: 90px;
  &__title-box{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 45px;
  }
  &__title{
    margin-right: 25px;
  }
  &__link{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 6px 14px;
    background-color: #CA0100;
    border-radius: 11px;
  }
  &__item{
    position: relative;
  }
  &__item-image{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item-title{
    position: absolute;
    bottom: 23px;
    left: 33px;
    font-size: 20px;
    line-height: 23px;
    @extend %roboto-700;
    color: #fff;
    max-width: 160px;
  }
  &__item-link{
    position: absolute;
    bottom: 23px;
    right: 28px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    padding: 12px 32px;
    background-color: #CA0100;
    border-radius: 6px;
  }
  .slick-slide{
    margin-right: 29px;
  }
}

.offer{
  margin-bottom: 53px;
  &__top{
    background-color: #262626;
    border-radius: 25px;
    background-image: url('../img/offer/design-bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 75px;
  }
  &__top-title{
    font-size: 30px;
    line-height: 35px;
    @extend %roboto-900;
    color: #fff;
    text-transform: uppercase;
  }
  &__top-text{
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    margin-bottom: 25px;
  }
  &__top-text span{
    color: #CA0100;
  }
  &__top-form{
    margin-bottom: 22px;
  }
  &__top-input{
    width: 370px;
    padding: 25px 20px 24px;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    border: 1px solid #EFF0F0;
    border-radius: 6px;
    margin-right: 38px;
  }
  &__top-input::placeholder{
    color: #262626;
  }
  &__top-button{
    width: 370px;
    padding: 24px 0;
    font-size: 16px;
    line-height: 19px;
    @extend %roboto-700;
    color: #fff;
    text-transform: uppercase;
    background-color: #CA0100;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  &__top-notice{
    font-size: 13px;
    line-height: 17px;
    color: #737373;
  }
  &__top-notice span{
    text-decoration: underline;
  }
  &__title{
    margin-bottom: 45px;
  }
  &__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item{
    background-color: #EFF0F0;
    border-radius: 25px;
    position: relative;
  }
  &__item-box{
    position: absolute;
    top: 30px;
    left: 25px;
  }
  &__item-title{
    font-size: 20px;
    line-height: 23px;
    @extend %roboto-700;
    color: #262626;
    margin-bottom: 5px;
  }
  &__item-text{
    font-size: 14px;
    line-height: 16px;
    color: #737373;
  }
  &__item-link{
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    background-color: #C2C2C4;
    opacity: 0.5;
    border-radius: 6px;
    padding: 12px 21px;
    position: absolute;
    left: 25px;
    bottom: 25px;
  }
  .slick-initialized .slick-slide {
    display: flex;
    justify-content: space-between;
  }
  .slick-slide{
    margin-right: 29px;
  }
}

.autocredit{
  margin-bottom: 72px;
  &__bg{
    background-color: #EFF0F0;
    border-radius: 25px;
    padding: 81px 0 135px;
  }
  &__title{
    margin-bottom: 37px;
  }
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__selects{
    display: flex;
    justify-content: center;
    padding: 23px;
    background-color: rgba(194, 194, 196, 0.5);
    border-radius: 25px;
    margin-bottom: 25px;
  }
  .irs--flat.js-irs-2.irs-with-grid {
    margin-bottom: 35px;
  }
  .irs--flat.js-irs-3.irs-with-grid {
    margin-bottom: 50px;
  }
  .jq-selectbox__select {
    width: 280px;
    padding: 13px 0px 31px 20px;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    background: #fff;
    box-shadow: none;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    text-shadow: none;
  }
  .jq-selectbox__trigger {
    border-left: none;
  }
  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 17px;
    right: 16px;
    width: 12px;
    height: 12px;
    border: none;
    background-image: url('../img/cars/angle-down.svg');
  }
  &__select + .autocredit__select{
    margin-left: 18px;
  }
  &__filters-box{
    display: flex;
    justify-content: space-between;
  }
  &__image-box{
    .irs--flat .irs-bar{
      display: none;
    }
    .irs-handle.single{
      display: none;
    }
  }
  &__image{
    margin-bottom: 10px;
  }
  &__contribution-nums{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__contribution-nums span{
    width: 78px;
    height: 23px;
    background-color: #ADADB0;
    border-radius: 30px;
    font-size: 16px;
    line-height: 19px;
    @extend %roboto-900;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__contribution-texts{
    display: flex;
    justify-content: space-between;
  }
  &__contribution-text,
  &__balance-text{
    font-size: 16px;
    line-height: 19px;
    color: #ADADB0;
  }
  &__balance-text{
    text-align: right;
  }
  &__inputs-box{
    margin-top: 15px;
  }
  &__input-text{
    font-size: 16px;
    line-height: 19px;
    color: #262626;
    margin-right: 40px;
  }
  &__input-price,
  &__input-term{
    display: block;
  }
  &__input-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__price-text,
  &__term-text{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__price-text span,
  &__term-text span{
    font-size: 36px;
    line-height: 42px;
  }
  &__input-form{
    width: 250px;
    height: 65px;
    padding: 0 25px;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    color: #ADADB0;
  }
  &__input-form::placeholder{
    color: #ADADB0;
  }
  &__profit{
    max-width: 447px;
    background: #FFFFFF;
    border-radius: 25px;
    padding: 41px 30px;
  }
  &__profit-title{
    font-size: 30px;
    line-height: 34px;
    @extend %roboto-700;
    color: #262626;
    margin-bottom: 13px;
  }
  &__profit-title span{
    color: #CA0100;
  }
  &__profit-form{
    display: flex;
    flex-direction: column;
  }
  &__profit-input{
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    padding: 22px 24px;
    margin-bottom: 10px;
  }
  &__profit-input::placeholder{
    font-size: 16px;
    line-height: 19px;
    color: #262626;
  }
  &__profit-button{
    background-color: #CA0100;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    @extend %roboto-700;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 23px 0;
    margin-bottom: 22px;
  }
  &__profit-text{
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #737373;
  }
  &__profit-text span{
    text-decoration: underline;
  }
  .irs-grid-pol {
    display: none;
  }
  .irs-grid-text {
    @extend %roboto-700;
    font-size: 11px;
    line-height: 13px;
    padding: 0;
    color: #ADADB0;
  }
  .irs-max,
  .irs-min{
    display: none;
  }
  .irs--flat .irs-line {
    top: 20px;
    height: 6px;
    background-color: #e1e1e1;
    border-radius: 6px;
  }
  .irs--flat .irs-handle {
    top: 16px;
    width: 14px;
    height: 14px;
    background-color: #CA0100;
    border-radius: 50%;
  }
  .irs--flat .irs-handle>i:first-child {
    display: none;
  }
  .irs--flat .irs-bar {
    top: 20px;
    height: 6px;
    background-color: #CA0100;
  }
  .irs-single{
    display: none;
  }
}

.partners{
  margin-bottom: 110px;
  &__title{
    margin-bottom: 45px;
  }
  .slick-slide{
    margin-right: 30px;
  }
}

.rating{
  margin-bottom: 90px;
  &__title{
    margin-bottom: 40px;
  }
  &__items{
    margin-bottom: 54px;
  }
  &__item{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(133, 147, 159, 0.3);
    border-radius: 10px;
  }
  &__item-title{
    font-size: 20px;
    line-height: 23px;
    @extend %roboto-900;
    color: #262626;
    padding: 23px 22px 0;
  }
  &__text,
  &__map-text{
    font-size: 18px;
    line-height: 21px;
    color: #ADADB0;
  }
  &__text{
    padding-left: 22px;
    margin-bottom: 34px;
  }
  &__item-box{
    padding: 0 22px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__percent,
  &__map-percent{
    font-size: 14px;
    line-height: 16px;
    color: #262626;
  }
  &__percent{
    margin-right: 21px;
  }
  &__map-percent{
    margin-bottom: 12px;
  }
  .star{
    margin-right: 7px;
  }
  .star-map{
    margin-left: 10px;
  }
  .jq-ry-container {
    padding: 0; 
  }
  .slick-slide{
    margin-right: 23px;
  }
  .slick-list{
    padding: 30px 10px;
  }
  &__item-num{
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    background-color: #55BC6B;
    border-radius: 4px;
    padding: 4px 6px;
  }
  &__maps{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__map{
    padding: 33px 36px 36px 54px;
    background-color: #EFF0F0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__image{
    margin: 0 76px 5px 0;
  }
  &__star-box{
    margin-right: 46px;
  }
  &__num{
    font-size: 43px;
    line-height: 50px;
    color: #fff;
    padding: 11px 32px;
    background-color: #55BC6B;
    border-radius: 10px;
  }
}

.reviews{
  margin-bottom: 108px;
  &__title{
    margin-bottom: 44px;
  }
  &__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item + .reviews__item{
    margin-left: 30px;
  }
  &__top{
    background-color: #262626;
    background-image: url('../img/main/video-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 25px 25px 0px 0px;
    padding: 112px 190px;
  }
  &__content{
    background-color: #F2F2F2;
    border-radius: 0px 0px 25px 25px;
    padding: 30px 30px 40px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  &__author{
    font-size: 20px;
    line-height: 23px;
    @extend %roboto-700;
    color: #262626;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 16px;
    line-height: 24px;
    color: #737373;
    margin-bottom: 20px;
  }
  &__button{
    max-width: 188px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #E1E1E1;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 14px;
    @extend %roboto-700;
    color: #262626;
    cursor: pointer;
  }
}

.about{
  margin-bottom: 115px;
  &__title{
    margin-bottom: 30px;
    text-align: center;
  }
  &__text{
    max-width: 924px;
    font-size: 16px;
    line-height: 26px;
    color: #737373;
    text-align: center;
    margin: 0 auto 43px;
  }
  &__video{
    background-image: url('../img/main/about-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 573px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.blog{
  margin-bottom: 90px;
  &__top{
    margin-bottom: 115px;
  }
  &__title-box{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
  }
  &__title{
    margin-right: 25px;
  }
  &__title-link{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background-color: #CA0100;
    border-radius: 11px;
    padding: 6px 25px;
  }
  &__item-image{
    margin-bottom: 23px;
  }
  &__item-data{
    font-size: 14px;
    line-height: 16px;
    color: #ADADB0;
    margin-bottom: 12px;
  }
  &__item-title{
    max-width: 268px;
  }
  &__item-link{
    font-size: 16px;
    line-height: 19px;
    @extend %roboto-700;
    color: #262626;
  }
  .slick-slide{
    margin-right: 30px;
  }
}

.blog-tabs{
  &__top{
    margin-bottom: 70px;
  }
  &__top-item{
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    @extend %roboto-700;
    color: #262626;
    & + .blog-tabs__top-item{
      margin-left: 55px;
    }
  }
  &__top-item--active{
    color: #CA0100;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      border-bottom: 3px solid #CA0100;
      bottom: -19px;
      left: 0;
      right: 0;
    }
  }
  &__content-item{
    display: none;
    &.blog-tabs__content-item--active{
      display: block;
    }
  }
  &__content-title{
    margin-bottom: 15px;
  }
  &__content-text{
    font-size: 16px;
    line-height: 24px;
    color: #737373;
  }
}

.map{
  &__inner{
    position: relative;
  }
  &__content{
    position: absolute;
    top: 107px;
    right: 235px;
    background-color: #fff;
    padding: 34px 29px 25px;
    box-shadow: 0px 0px 30px rgba(133, 147, 159, 0.3);
    border-radius: 15px;
  }
  &__phone,
  &__worktime,
  &__address{
    display: flex;
  }
  &__worktime{
    align-items: center;
  }
  &__phone-img,
  &__worktime-img,
  &__address-img{
    margin-right: 12px;
  }
  &__numbers-link,
  &__worktime-text,
  &__address-text{
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #262626;
  }
  &__phone{
    margin-bottom: 11px;
  }
  &__numbers-link{
    margin-bottom: 5px;
  }
  &__worktime,
  &__address{
    margin-bottom: 19px;
  }
  &__button{
    font-size: 16px;
    line-height: 19px;
    @extend %roboto-700;
    color: #fff;
    text-transform: uppercase;
    background-color: #CA0100;
    border-radius: 6px;
    border: none;
    padding: 16px 28px;
  }
  iframe{
    max-width: 100%;
  }
}


.groups,
.offer,
.partners,
.rating,
.blog{
  .slider-btn{
    position: absolute;
    right: 0;
    top: -98px;
    width: 48px;
    height: 48px;
    box-shadow: 0px 0px 30px rgba(133, 147, 159, 0.3);
    border-radius: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .slider-btn__prev{
    right: 60px;
  }
  .slider-btn:hover{
    background-color: #CA0100;
    path{
      fill: #fff;
    }
  }
}