@import '_vars';
@import 'fonts';
@import '_reset';
@import '_libs';
@import '_global';
@import '_media';

.offer {
  margin-bottom: 53px;

  &__top {
    background-color: #262626;
    border-radius: 25px;
    background-image: url('../img/offer/design-bg.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 75px;
  }

  &__top-title {
    font-size: 30px;
    line-height: 35px;
    @extend %roboto-900;
    color: #fff;
    text-transform: uppercase;
  }

  &__top-text {
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    margin-bottom: 25px;
  }

  &__top-text span {
    color: #CA0100;
  }

  &__top-form {
    margin-bottom: 22px;
  }

  &__top-input {
    width: 370px;
    padding: 25px 20px 24px;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    border: 1px solid #EFF0F0;
    border-radius: 6px;
    margin-right: 38px;
  }

  &__top-input::placeholder {
    color: #262626;
  }

  &__top-button {
    width: 370px;
    padding: 24px 0;
    font-size: 16px;
    line-height: 19px;
    @extend %roboto-700;
    color: #fff;
    text-transform: uppercase;
    background-color: #CA0100;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }

  &__top-notice {
    font-size: 13px;
    line-height: 17px;
    color: #737373;
  }

  &__top-notice span {
    text-decoration: underline;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    background-color: #EFF0F0;
    border-radius: 25px;
    position: relative;
  }

  &__item-box {
    position: absolute;
    top: 30px;
    left: 25px;
  }

  &__item-title {
    font-size: 20px;
    line-height: 23px;
    @extend %roboto-700;
    color: #262626;
    margin-bottom: 5px;
  }

  &__item-text {
    font-size: 14px;
    line-height: 16px;
    color: #737373;
  }

  &__item-link {
    font-size: 14px;
    line-height: 16px;
    color: #262626;
    background-color: #C2C2C4;
    opacity: 0.5;
    border-radius: 6px;
    padding: 12px 21px;
    position: absolute;
    left: 25px;
    bottom: 25px;
  }

  .slick-initialized .slick-slide {
    display: flex;
    justify-content: space-between;
  }

  .slick-slide {
    margin-right: 29px;
  }
}